h1 {
    font-family: Arial, sans-serif;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

input {
    width: 70%;
    padding: 10px;
    font-size: 16px;;
}

#addBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

#okBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}
#delBtn {
    padding: 0 5px;
    margin-left: 10px;
    background-color: red;
    border: 1px solid black;
    cursor: pointer;
}
#changeBtn {
    padding: 0 5px;
    margin-left: 10px;
    background-color: yellow;
    border: 1px solid black;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

